<!DOCTYPE html>
<html lang="en">
<head>
    <% include head.ejs %>
</head>

<body>

    <!-- Modals -->

    <div id="modal-background" class="modal" style="display:none;">

        <!-- User Authenticated: Modal Introduction -->
        <div id="modal-welcome" class="modal animate-zoom-in" style="display:none;">
            <p style="margin-bottom:15px;">
                <img src="/assets/img/logo_square.png">
            </p>
            <h1>Welcome To Your Vendee!</h1>
            <table>
                <tbody>
                    <tr>
                        <td>
                            • Click this icon to see your settings: <i class="ion-gear-a" onclick="Theme.admin.toggleMenu()"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            • Settings save automatically when changed.
                        </td>
                    </tr>
                    <tr>
                        <td>
                            • Everything is free!
                        </td>
                    </tr>
                </tbody>
            </table>
            <p style="margin-top:30px;">
                <button onclick="Theme.hideModal('sp_welcome_<%= vendee.subdomain %>', 'seen', 86400 )">Got It!</button>
            </p>
        </div>

        <!-- Modal: Capture Leads -->
        <div id="modal-popup" class="modal" style="display:none;">
            <h1 id="popup-header"><%= vendee.popup_header %></h1>
            <p id="popup-body"><%= vendee.popup_body %></p>
            <form id="form-email">
                <input id="field-email" type="text" placeholder="Your Email Address"></input>
                <input id="form-submit" type="submit">
            </form>
            <p id="form-saving" style="display:none;">
                Saving Email...
            </p>
            <p id="form-success" style="display:none;">
                Thanks, your email has been saved!
            </p>
            <p id="form-error" style="display:none;"></p>
            <p>
                <a id="form-hide" onclick="Theme.hideModal('sp_popup_<%= vendee.subdomain %>', 'seen', 604800 )">
                    No thanks...
                </a>
            </p>
        </div>

        <!-- Modal: Select Image -->
        <div id="modal-images" class="modal" style="display:none;">
            <p style="font-size:16px;">Select An Image From Your Servant To Use As A Logo</p>
            <div id="image-results"></div>
            <p style="font-size:14px;text-align:center">
                <a onclick="Theme.hideModal('#modal-images')">Cancel</a>
            </p>
        </div>

    </div>


    <!-- User Authenticated: Admin Menu -->

    <% if (authenticated) { %>
        <div id="admin-menu">
            <div id="admin-menu-inner">
                <!-- Signout Link -->
                <a class="signout" href="/api/logout"><i class="ion-power"></i></a>
                <!-- Logo -->
                <div class="menu-section">
                    <img class="logo" src="/assets/img/logo_square.png" draggable="false">
                </div>

                <p class="menu-label">
                    Servant
                </p>
                <div class="menu-section">
                    <select id="servant-select">
                    </select>
                </div>
                <p class="menu-label" style="margin-bottom:0px;">
                    Theme
                </p>
                <div class="menu-section" style="line-height:0px;">
                    <i class="ion-ios-arrow-back theme-arrow" onclick="Theme.admin.changeTheme(-1)" style="margin-right:25px;"></i>
                    <i class="ion-ios-arrow-forward theme-arrow" onclick="Theme.admin.changeTheme(1)"></i>
                </div>
                <form id="vendee-options">
                    <p class="menu-label">
                        Branding
                    </p>
                    <div class="menu-section">
                        <input type="text" class="vendee-option-text" name="vendee_title" placeholder="Vendee Title" value="<%= vendee.vendee_title %>">
                    </div>
                    <div class="menu-section">
                        <textarea  class="vendee-option-text" name="vendee_description" placeholder="Vendee Description"><%= vendee.vendee_description %></textarea>
                    </div>

                    <!-- Logo Image -->
                    <div class="menu-section" id="admin-logo-image-container" style="margin:15px 0px 0px 0px;<% if (!vendee.logo_image) { %> display:none <% } %>">
                        <img id="admin-logo-image" class="servant-image" style="max-height:80px;max-width:150px;" 
                        <% if (preload.logo) { %>src='<%= preload.logo.resolution_medium %>'<% } %>>
                    </div>
                    <!-- Logo Image: Set -->
                    <div class="menu-section" style="margin-top:10px;font-size:14px;">
                        <p class="link" onclick="Theme.admin.showServantImagesModal()">
                            <i class="ion-image" style="margin-right:5px"></i>
                            Set Logo Image
                        </p>
                        <p id="admin-logo-delete-link" class="link" onclick="Theme.admin.removeLogoImage()" style="<% if (!vendee.logo_image) { %> display:none; <% } %>">
                            <i class="ion-trash-a" style="margin-right:5px"></i>
                            Remove Logo Image
                        </p>
                    </div>

                    <p class="menu-label">
                        Links
                    </p>
                    <div class="menu-section">
                        <input type="text"  class="vendee-option-text" name="url_home" placeholder="Home Url" value="<%= vendee.url_home %>">
                    </div>
                    <div class="menu-section">
                        <input type="text" class="vendee-option-text" name="url_twitter"  placeholder="Twitter Url" value="<%= vendee.url_twitter %>">
                    </div>
                    <div class="menu-section">
                        <input type="text" class="vendee-option-text" name="url_github"  placeholder="Github Url" value="<%= vendee.url_github %>">
                    </div>
                    <div class="menu-section">
                        <input type="text" class="vendee-option-text" name="url_facebook" placeholder="Facebook Url" value="<%= vendee.url_facebook %>">
                    </div>
                    <p class="menu-label">
                        Pop-up
                    </p>
                    <div class="menu-section">
                        <select class="select-option" name="popup">
                            <option value="none" <% if (vendee.popup === 'none') { %> selected <% } %> >None</option>
                            <option value="timer" <% if (vendee.popup === 'timer') { %> selected <% } %> >Timer</option>
                            <option value="exit" <% if (vendee.popup === 'exit') { %> selected <% } %> >Exit</option>
                        </select>
                    </div>
                    <div class="menu-section">
                        <input class="vendee-option-text" <% if (vendee.popup !== 'timer') { %> style="display:none;" <% } %> name="popup_timer" type="text" placeholder="Timer Delay (Seconds)" value="<%= vendee.popup_timer %>">
                    </div>
                    <div class="menu-section">
                        <input class="vendee-option-text" name="popup_header" type="text" placeholder="Pop-Up Header" value="<%= vendee.popup_header %>">
                    </div>
                    <div class="menu-section">
                        <textarea class="vendee-option-text" name="popup_body" placeholder="Pop-Up Body"><%= vendee.popup_body %></textarea>
                    </div>
                    <p class="menu-smalltext">
                        Make a change, then refresh the page to see popup changes
                    </p>

                    <!-- SEO Keywords -->
                    <p class="menu-label">
                        SEO Keywords
                    </p>
                    <div class="menu-section">
                        <input class="vendee-option-text" name="vendee_keywords" type="text" placeholder="dogs, cats, wombats" value="<%= vendee.vendee_keywords %>">
                    </div>
                    <p class="menu-smalltext">
                        Separate your keywords by a comma
                    </p>

                    <!-- Custom Domain -->
                    <p class="menu-label">
                        Custom Domain
                    </p>
                    <div class="menu-section">
                        <input class="vendee-option-text" name="custom_domain" type="text" placeholder="inthisformat.com" value="<%= vendee.custom_domain %>">
                    </div>
                    <p class="menu-smalltext">
                        Create a CNAME DNS record for your custom domain that points to <%= vendee.subdomain %>.servantpress.io
                    </p>
                </form>
            </div>
        </div>
    <% } %>


    <!-- Vendee -->

    <div id="vendee-container" class="<%= vendee.theme %>">
        <div id="vendee" class="container">
            
            <% if (authenticated) { %>
                <a class="menu-link">
                    <i class="ion-gear-a" onclick="Theme.admin.toggleMenu()"></i>
                </a>
            <% } %>

            <div class="row">
                <div class="six columns">
                    <p><%= vendee.vendee_title %></p>
                </div>
                <div class="six columns">
                    <p>asf</p>
                </div>
            </div>
            <div class="row">
                <div class="twelve columns">
                    <p>asf</p>
                    <p>asf</p>
                    <p>asf</p>
                    <p>asf</p>
                </div>
            </div>
            <div class="row"></div>
        </div>
    </div>
    <% include foot.ejs %>
</body>

</html>